<form [formGroup]="form" fxFlex fxLayout="column">
  <div>
    <h2>
      {{"BOOK.LIST.FILTER.TITLE" | translate}}
    </h2>
  </div>
  <div fxLayout="column">
    <mat-form-field>
      <label>
        <input matInput formControlName="globalTextCtrl" placeholder="{{'BOOK.LIST.FILTER.FILTER' | translate}}">
      </label>
    </mat-form-field>
    <mat-form-field>
      <mat-label *ngIf="groupByEditors">
        {{"BOOK.LIST.FILTER.EDITOR" | translate}}
      </mat-label>
      <mat-label *ngIf="!groupByEditors">
        {{"BOOK.LIST.FILTER.INITIAL" | translate}}
      </mat-label>
      <mat-select formControlName="groupsCtrl" multiple>
        <mat-option *ngFor="let group of groups" [value]="group">{{group}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        {{"BOOK.LIST.FILTER.SERIES" | translate}}
      </mat-label>
      <mat-select formControlName="seriesCtrl" multiple>
        <ng-container *ngFor="let group of groups">
          <mat-optgroup *ngIf="displayGroup(group)" [label]="group">
            <mat-option *ngFor="let v of data[group] | keyvalue" [value]="v.key">
              {{v.key}}
            </mat-option>
          </mat-optgroup>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button fxFlex mat-flat-button color="warn" (click)="clearFilters()">
      {{"BOOK.LIST.FILTER.CLEAR" | translate}}
    </button>
  </div>
</form>
