<form [formGroup]="form" fxFlex fxLayout="column">
  <div>
    <h2>Filters</h2>
  </div>
  <div fxLayout="column">
    <mat-form-field>
      <input matInput formControlName="globalTextCtrl" placeholder="Filter">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Editors</mat-label>
      <mat-select formControlName="editorsCtrl" multiple>
        <mat-option *ngFor="let editor of editors" [value]="editor">{{editor}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Series</mat-label>
      <mat-select formControlName="seriesCtrl" multiple>
        <ng-container *ngFor="let editor of editors">
          <mat-optgroup *ngIf="displayGroup(editor)" [label]="editor">
            <mat-option *ngFor="let v of data[editor] | keyvalue" [value]="v.key">
              {{v.key}}
            </mat-option>
          </mat-optgroup>
        </ng-container>
      </mat-select>
    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button fxFlex mat-flat-button color="warn" (click)="clearFilters()">clear</button>
  </div>
</form>
