<div  fxFlex fxLayoutGap="10px" fxLayoutAlign="start center">
  <button mat-button (click)="filterAction()">
    {{"BOOK.LIST.ACTION_BAR.BUTTON_FILTER" | translate}}
    <fa-icon [icon]="['fas', 'filter']"></fa-icon>
  </button>
  <button mat-button (click)="changeSortOrderAction()">
    {{"BOOK.LIST.ACTION_BAR.BUTTON_ORDER" | translate}}
    <ng-container *ngIf="isSortOrderAsc(); else descIcon">
      <fa-icon [icon]="['fas', 'sort-alpha-up']"></fa-icon>
    </ng-container>
    <ng-template #descIcon>
      <fa-icon [icon]="['fas', 'sort-alpha-down']"></fa-icon>
    </ng-template>
  </button>
    <mat-slide-toggle
            color="primary"
            [checked]="isGroupedByEditors()"
            (change)="changeDisplayAction($event)">
      Group by editors
    </mat-slide-toggle>
</div>
