<mat-list-item class="book-item" style="cursor: pointer" (click)="openDetails(book)">
  <div fxFlex="100" fxLayoutAlign="space-between">
    <div>
      <fa-icon *ngIf="book.status === 'UNREAD'" [icon]="['fas', 'book']" style="padding-right: 10px"></fa-icon>
      <fa-icon *ngIf="book.status === 'READING'" [icon]="['fas', 'book-reader']" style="padding-right: 10px"></fa-icon>
      <fa-icon *ngIf="book.status === 'READ'" [icon]="['fas', 'book-open']" style="padding-right: 10px"></fa-icon>
      <span *ngIf="book.tome !== ''">{{book.tome}} - </span> {{book.title}}
    </div>
    <div>
      <fa-icon [icon]="['fas', 'chevron-right']"  style="padding-right: 10px"></fa-icon>
    </div>
  </div>
</mat-list-item>
