<mat-progress-bar *ngIf="isLoading | async" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-bar>
<div style="padding-top: 10px;" fxLayout="row">
    <div fxFlex="10" fxFlexOffset="5">
        <app-list-filter></app-list-filter>
    </div>
    <div fxFlex="25" fxLayout="column" fxFlexOffset="5">
        <app-editor-display style="padding-bottom: 20px;"
                            *ngFor="let res of (searchResult | async) | keyvalue"
                            [series]="res.value"
                            [editor]="res.key">
        </app-editor-display>
    </div>
    <div fxFlex fxFlexOffset="5" style="padding-bottom: 20px;">
        <app-book-details>
        </app-book-details>
    </div>
</div>
