<mat-progress-bar *ngIf="isLoading | async" [color]="'primary'" [mode]="'indeterminate'"></mat-progress-bar>
<mat-sidenav-container style="padding-top: 20px; min-height: 50%">
    <mat-sidenav #filter mode="side">
        <app-list-filter fxFlex="30" style="padding: 20px" [data]="searchResult"
                         (filter)="onFilter($event)"></app-list-filter>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxFlex="80" fxFlexOffset="10">
            <button mat-button (click)="filter.toggle()">
                <fa-icon [icon]="['fas', 'filter']"></fa-icon>
            </button>
            <app-editor-display style="padding: 20px"
                                *ngFor="let res of filteredData | async | keyvalue"
                                [series]="res.value"
                                [editor]="res.key">
            </app-editor-display>
        </div>
    </mat-sidenav-content>
    <mat-sidenav mode="over" position="end">
        <app-book-details></app-book-details>
    </mat-sidenav>
</mat-sidenav-container>
