<mat-toolbar color="default" [fxLayout]="'row'" [fxLayoutAlign]="'space-between center'">
  <div>
    <span *ngIf="!(userConnected()|async) else adminTitle">{{'HEADER.APP_TITLE' | translate}}</span>
    <ng-template #adminTitle>
      <span>{{'HEADER.APP_TITLE_ADMIN' | translate}}</span>
    </ng-template>
    <button [fxFlexOffset]="'20px'" routerLink="/" mat-button>{{'HEADER.BOOK.LIST' | translate}}</button>
  </div>
  <div>
    <div *ngIf="userConnected()|async">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/book/add'">
          <mat-icon>add-circle</mat-icon>
          <span>{{'HEADER.BOOK.ADD' | translate}}</span>
        </button>
      </mat-menu>
      <button [fxFlexOffset]="'20px'" (click)="signOut()" mat-flat-button
              color="warn">{{'HEADER.SIGN_OUT' | translate}}</button>
    </div>
  </div>
</mat-toolbar>
