<mat-toolbar class="app-toolbar" color="default" [fxLayout]="'row'" [fxLayoutAlign]="'space-between center'">
  <div>
    <span *ngIf="(userConnected()|async) === null else adminTitle">{{'HEADER.APP_TITLE' | translate}}</span>
    <ng-template #adminTitle>
      <span>{{'HEADER.APP_TITLE_ADMIN' | translate}}</span>
    </ng-template>
    <button [disabled]="(bookTypes|async).length <= 0" mat-button [fxFlexOffset]="'20px'" [matMenuTriggerFor]="menu">{{'HEADER.BOOK.LIST' | translate}}</button>
    <mat-menu #menu="matMenu">
      <button [routerLink]="['/', 'book', bookType.name]" *ngFor="let bookType of (bookTypes | async)" mat-menu-item>
        {{bookType.name}} ({{bookType.nbBooks}})
      </button>
    </mat-menu>
  </div>
  <div>
    <div *ngIf="userConnected()|async">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="'/administration/book/add'">
          <fa-icon [icon]="['fas', 'plus']" style="padding-right: 10px"></fa-icon>
          <span>{{'HEADER.BOOK.ADD' | translate}}</span>
        </button>
        <button mat-menu-item [routerLink]="'/administration/series/edition'">
          <fa-icon [icon]="['fas', 'pencil-alt']" style="padding-right: 10px"></fa-icon>
          <span>{{'HEADER.SERIES.EDITION' | translate}}</span>
        </button>
      </mat-menu>
      <button [fxFlexOffset]="'20px'" (click)="signOut()" mat-flat-button
              color="warn">{{'HEADER.SIGN_OUT' | translate}}</button>
    </div>
  </div>
</mat-toolbar>
