<mat-progress-bar *ngIf="isLoading|async" [color]="'primary'" style="margin-top: -20px; margin-bottom: 20px"
                  [mode]="'indeterminate'">
</mat-progress-bar>
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1 style="text-align: center">{{'BOOK.EDITION.TITLE' | translate}}</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <app-book-list-filter fxFlex="20" (filter)="onFilter($event)"></app-book-list-filter>
    <div fxFlex="75">
      <div>
        <button mat-button mat-flat-button (click)="createNewBookType()" >Create new book type</button>
      </div>
      <app-book-edition-list style="padding-top: 20px" fxLayout="row" *ngIf="hasResult"></app-book-edition-list>
    </div>
  </div>
</div>
