<div>
  <div [formGroup]="form" (submit)="submit()" fxLayout="column" fxLayoutGap="2rem">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <h2>
        <span *ngIf="book.tome === null && book.series.isOneShot()">{{form.controls.title.value}}</span>
        <span
          *ngIf="book.tome === null && book.series.isOneShot()">{{book.series.displayName}} {{form.controls.title.value}}</span>
        <span *ngIf="book.tome !== null">{{book.series.displayName}} (T{{book.tome}}
          ) {{form.controls.title.value}}</span>
        <span class="mat-small"> {{book.isbn}}</span>
      </h2>
      <div>
        <mat-form-field style="padding-right: 1rem">
          <mat-select [placeholder]="'Book Type'">
            <mat-option [value]="'0'">
              {{'BOOK.FORM.ACTION.NEW_BOOK_TYPE' | translate}}
            </mat-option>
            <mat-option *ngFor="let bookType of [{'name': 'test'}, {'name': 'test2'}]" [value]="bookType.name">
              {{bookType.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" (click)="submit()" mat-stroked-button mat-raised-button color="primary">
          <mat-label>{{'BOOK.FORM.ACTION.ADD' | translate}}</mat-label>
        </button>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="row" fxFlex="35">
        <div fxFlex fxLayout="column" fxLayoutAlign="center center">
          <app-loader-img [imgContainerClass]="'mat-elevation-z2 cover'" [img]="getImg(book.cover)"></app-loader-img>
          <div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="center center">
            <button mat-button mat-stroked-button disabled>Upload an images</button>
            <button mat-button mat-stroked-button disabled>Fetch on Google</button>
            <button mat-button mat-stroked-button disabled>Fetch on Amazon</button>
          </div>
        </div>
      </div>
      <div fxFlex fxLayout="column">
        <div fxLayout="row" fxLayoutGap="2rem">
          <div fxLayout="column" fxFlex="45" fxLayoutGap="2rem">
            <div fxLayout="column">
              <h3>{{'BOOK.FORM.SECTION_TITLE.GLOBAL_INFORMATION' | translate}}</h3>
              <div fxLayout="column">
                <mat-slide-toggle labelPosition="before" fxFlexAlign="end"> One-shot</mat-slide-toggle>
                <div fxLayout="row" fxLayoutGap="1rem">
                  <mat-form-field fxFlex="15">
                    <label>
                      <input matInput type="number" [placeholder]="'BOOK.FORM.TOME' | translate"
                             [value]="book.tome"/>
                    </label>
                  </mat-form-field>
                  <mat-form-field fxFlex>
                    <label>
                      <input matInput [placeholder]="'BOOK.FORM.TITLE' | translate" formControlName="title"/>
                    </label>
                  </mat-form-field>
                  <mat-form-field fxFlex="15">
                    <label>
                      <input matInput [placeholder]="'BOOK.FORM.YEAR' | translate"
                             [value]="book.year"/>
                    </label>
                  </mat-form-field>
                </div>
                <mat-form-field>
                  <label>
                    <input matInput [placeholder]="'BOOK.FORM.COLLECTION' | translate" [value]="book.collection"/>
                  </label>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column">
              <h3>{{'BOOK.FORM.SECTION_TITLE.SERIES' | translate}}</h3>
              <app-series-form fxFlex [form]="series"></app-series-form>
            </div>
            <div fxLayout="column">
              <h3>{{'BOOK.FORM.SECTION_TITLE.EDITOR' | translate}}</h3>
              <app-editor-form fxFlex [form]="editor"></app-editor-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
