<form (ngSubmit)="signIn()" [formGroup]="form">
  <h1 mat-dialog-title>{{'SIGN_IN.TITLE' | translate}}</h1>
  <div *ngIf="error">
    {{error}}
  </div>
  <mat-dialog-content>
    <div [fxLayout]="'column'">
      <mat-form-field>
        <input matInput [formControlName]="'email'" placeholder="{{'SIGN_IN.EMAIL_PLACEHOLDER' | translate}}" autofocus>
        <mat-error *ngIf="this.hasFormatError('email')" [innerHTML]="'ERROR.EMAIL.VALID' | translate"></mat-error>
        <mat-error *ngIf="this.hasRequiredError('email')" [innerHTML]="'ERROR.EMAIL.REQUIRED' | translate"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" [formControlName]="'password'"
               placeholder="{{'SIGN_IN.PWD_PLACEHOLDER' | translate}}">
        <mat-error *ngIf="this.hasRequiredError('password')"
                   [innerHTML]="'ERROR.PWD.REQUIRED' | translate"></mat-error>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button type="button" mat-button mat-stroked-button (click)="cancel()"
            color="warn">{{'SIGN_IN.CANCEL' | translate}}</button>
    <button type="submit" mat-button mat-raised-button color="primary"
            [disabled]="!(form.valid && !form.pristine)">{{'SIGN_IN.VALIDATE' | translate}}</button>
  </mat-dialog-actions>
</form>
