<mat-list-item role="listitem" style="padding-top: 10px" class="no-style">
  <form [formGroup]="form" fxLayout="column" fxFlex="100" (ngSubmit)="submit()">
    <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="1rem" style="margin-bottom: -0.5rem">
      <mat-form-field fxFlex="100">
        <label>
          <input [placeholder]="'BOOK_TYPE.CREATION.PLACEHOLDER_NAME' | translate" matInput formControlName="name">
        </label>
      </mat-form-field>
      <div fxLayoutGap="1rem">
        <button type="submit" [disabled]="false" mat-button color="primary">
          <fa-icon [icon]="['fas', 'check']"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</mat-list-item>
