<div fxLayout="row" class="editor-wrapper" fxLayoutAlign="space-between">
  <div fxFlex="15" fxLayout="column" fxLayoutAlign="start" class="editor-title">
    <h2 fxLayoutAlign="end">{{editor}}</h2>
    <div fxLayoutAlign="end">
      <button mat-button *ngIf="!isAllPanelOpened()" (click)="accordion.openAll()">
        {{"BOOK.LIST.GROUP.EXPAND_ALL" | translate}}
        <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
      </button>
      <button mat-button *ngIf="isAllPanelOpened()" (click)="accordion.closeAll()">
        {{"BOOK.LIST.GROUP.COLLAPSE_ALL" | translate}}
        <fa-icon [icon]="['fas', 'caret-up']"></fa-icon>
      </button>
    </div>
  </div>
  <div fxFlex="80">
    <mat-accordion multi>
      <app-series-display *ngFor="let series of (orderedSeries|async)"
                          (showBookDetails)="showDetails($event, series)"
                          [series]="series"
                          [seriesData]="(bookBySeries|async)[series]">
      </app-series-display>
    </mat-accordion>
  </div>
</div>
