<div fxLayout="column" *ngIf="bookEvent && bookEvent.book !== null" class="book-details-container"
     style="padding: 20px">
  <div fxFlex fxLayoutAlign="space-between center">
    <div fxFlex="70">
      <h2 *ngIf="bookEvent.book.tome === null && bookEvent.book.series.isOneShot()">
        {{bookEvent.book?.title}}
      </h2>
      <h2 *ngIf="bookEvent.book.tome === null && !bookEvent.book.series.isOneShot()">
        {{bookEvent.book.series.displayName}}: {{bookEvent.book?.title}}
      </h2>
      <h2 *ngIf="bookEvent.book.tome !== null">
        {{bookEvent.book.series.displayName}}: (T{{bookEvent.book.tome}}) {{bookEvent.book?.title}}
      </h2>
      <p *ngIf="bookEvent.book.status === 'UNREAD'">
        <fa-icon [icon]="['fas', 'book']" style="padding-right: 10px"></fa-icon>
        {{'BOOK.STATE.UNREAD' | translate}}
      </p>
      <p *ngIf="bookEvent.book.status === 'READING'">
        <fa-icon [icon]="['fas', 'book-reader']" style="padding-right: 10px"></fa-icon>
        {{'BOOK.STATE.READING' | translate}}
      </p>
      <p *ngIf="bookEvent.book.status === 'READ'">
        <fa-icon [icon]="['fas', 'book-open']" style="padding-right: 10px"></fa-icon>
        {{'BOOK.STATE.READ' | translate}}
      </p>
    </div>
    <div fxFlex fxLayoutAlign="center center" fxLayoutGap="10px">
      <button type="button" mat-flat-button [disabled]="bookEvent.asPrevious === null"
              (click)="changeBook(bookEvent.asPrevious)">
        <fa-icon [icon]="['fas', 'chevron-left']" style="padding-right: 10px"></fa-icon>
        {{'BOOK.LIST.DETAILS.BUTTON.PREVIOUS' | translate}}
      </button>
      <button type="button" mat-flat-button [disabled]="bookEvent.asNext === null"
              (click)="changeBook(bookEvent.asNext)">
        {{'BOOK.LIST.DETAILS.BUTTON.NEXT' | translate}}
        <fa-icon [icon]="['fas', 'chevron-right']" style="padding-left: 10px"></fa-icon>
      </button>
    </div>
  </div>
  <div fxFlex fxLayoutAlign="space-between">
    <div fxFlex fxLayoutAlign="center center">
      <app-loader-img [imgContainerClass]="'mat-elevation-z2 cover'" *ngIf="displayImg"
                      [img]="getImg(bookEvent.book.cover)"></app-loader-img>
    </div>
    <div fxFlex>
      <mat-list>
        <h1 mat-subheader>{{'BOOK.LIST.DETAILS.SECTION_TITLE.GLOBAL_INFORMATION' | translate}}</h1>
        <mat-list-item>
          <span [innerHTML]="'BOOK.LIST.DETAILS.TITLE' | translate:{value: bookEvent.book.title}"></span>
        </mat-list-item>
        <mat-list-item>BookService
          <h4 mat-line
              [innerHTML]="'BOOK.LIST.DETAILS.SERIES' | translate:{value: getSeriesDisplayName(bookEvent.book.series)}">
          </h4>
          <p mat-line *ngIf="bookEvent.book.tome !== null"
             [innerHTML]="'BOOK.LIST.DETAILS.TOME' | translate:{value: bookEvent.book.tome}">
          </p>
        </mat-list-item>
        <mat-list-item>
          <span [innerHTML]="'BOOK.LIST.DETAILS.YEAR' | translate:{value: bookEvent.book.year}"></span>
        </mat-list-item>
        <mat-list-item>
          <h4 mat-line
              [innerHTML]="'BOOK.LIST.DETAILS.EDITOR' | translate:{value: bookEvent.book.editor.name}">
          </h4>
          <p mat-line *ngIf="bookEvent.book.collection !== null && bookEvent.book.collection !== ''"
             [innerHTML]="'BOOK.LIST.DETAILS.COLLECTION' | translate:{value: bookEvent.book.collection}">
          </p>
        </mat-list-item>
      </mat-list>
      <mat-list fxFlex="50">
        <h1 mat-subheader>{{'BOOK.LIST.DETAILS.SECTION_TITLE.AUTHOR' | translate}}</h1>
        <mat-list-item *ngFor="let author of bookEvent.book.authors">
          <h4 mat-line
              [innerHTML]="'BOOK.LIST.DETAILS.AUTHOR.NAME' | translate:{value: author.name}">
          </h4>
          <p mat-line *ngIf="author.role.length > 0"
             [innerHTML]="'BOOK.LIST.DETAILS.AUTHOR.ROLES' | translate:{value: (author.role.join(', '))}">
          </p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>
</div>
