<mat-progress-bar *ngIf="isLoading|async" [color]="'primary'" style="margin-top: -20px; margin-bottom: 20px"
                  [mode]="'indeterminate'">
</mat-progress-bar>
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1 style="text-align: center">{{'SERIES.EDITION.TITLE' | translate}}</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <app-series-list-filter fxFlex="20" (filter)="onFilter($event)"></app-series-list-filter>
    <div fxFlex="75">
      <app-series-list style="padding-top: 20px" fxLayout="row" *ngIf="hasResult"></app-series-list>
    </div>
  </div>
</div>
