<mat-expansion-panel class="series-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{series}}
        </mat-panel-title>
      <mat-panel-description>
        <div fxFlex="20" fxLayoutAlign="space-between">
          <span *ngIf="getProgressValue() === 100"> Completed </span>
          <span *ngIf="getProgressValue() < 100"> {{getReadedBooksCount()}} / {{seriesData.seriesBookCount}} </span>
        </div>
        <mat-progress-bar *ngIf="seriesData.seriesBookCount !== null"
                          fxFlex="80"
                          mode="determinate"
                          [bufferValue]="seriesData.seriesBookCount"
                          [value]="getProgressValue()"></mat-progress-bar>
      </mat-panel-description>
    </mat-expansion-panel-header>
  <mat-action-row *ngIf="(userConnected()|async)">
    <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px">
      <button mat-stroked-button [disabled]="list.selectedOptions.selected.length >= seriesData.books.length" (click)="list.selectAll()">
        <span>{{'BOOK.LIST.SERIES.ACTION_ROW.ALL_SELECT' | translate}}</span>
      </button>
      <button mat-stroked-button [disabled]="list.selectedOptions.selected.length === 0" (click)="list.deselectAll()">
        <span>{{'BOOK.LIST.SERIES.ACTION_ROW.ALL_DESELECT' | translate}}</span>
      </button>
      <button mat-stroked-button [disabled]="list.selectedOptions.selected.length === 0" [matMenuTriggerFor]="menu">
        <span>{{'BOOK.LIST.SERIES.ACTION_ROW.MARK_AS' | translate}}</span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="changeBookState(list.selectedOptions.selected, 'READ')">
          <fa-icon [icon]="['fas', 'book-open']" style="padding-right: 10px"></fa-icon>
          <span>{{'BOOK.STATE.READ' | translate}}</span>
        </button>
        <button mat-menu-item (click)="changeBookState(list.selectedOptions.selected, 'UNREAD')">
          <fa-icon [icon]="['fas', 'book']" style="padding-right: 10px"></fa-icon>
          <span>{{'BOOK.STATE.UNREAD' | translate}}</span>
        </button>
        <button mat-menu-item (click)="changeBookState(list.selectedOptions.selected, 'READING')">
          <fa-icon [icon]="['fas', 'book-reader']" style="padding-right: 10px"></fa-icon>
          <span>{{'BOOK.STATE.READING' | translate}}</span>
        </button>
      </mat-menu>
    </div>
  </mat-action-row>
  <mat-selection-list dense class="series-books" #list>
    <mat-list-option *ngFor="let book of seriesData.books; let i = index" [ngClass]="{'hide-checkbox': !(userConnected()|async)}" checkboxPosition="before" [value]="book">
      <div fxFlex="100" fxLayoutAlign="space-between">
        <div>
          <fa-icon *ngIf="book.status === 'UNREAD'" [icon]="['fas', 'book']" style="padding-right: 10px"></fa-icon>
          <fa-icon *ngIf="book.status === 'READING'" [icon]="['fas', 'book-reader']" style="padding-right: 10px"></fa-icon>
          <fa-icon *ngIf="book.status === 'READ'" [icon]="['fas', 'book-open']" style="padding-right: 10px"></fa-icon>
          <span *ngIf="book.tome !== null">{{book.tome}} - </span> {{book.title}}
        </div>
        <div (click)="showDetails(i)">
          <span style="padding-right: 10px;">Details</span>
          <fa-icon [icon]="['fas', 'chevron-right']" style="padding-right: 10px"></fa-icon>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</mat-expansion-panel>
