<mat-expansion-panel class="series-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{series}}
        </mat-panel-title>
      <mat-panel-description>
        <div fxFlex="20" fxLayoutAlign="space-between">
          <span *ngIf="getProgressValue() === 100"> Completed </span>
          <span *ngIf="getProgressValue() < 100"> {{getReadedBooksCount()}} / {{seriesData.seriesBookCount}} </span>
        </div>
        <mat-progress-bar *ngIf="seriesData.seriesBookCount !== null"
                          fxFlex="80"
                          mode="determinate"
                          [bufferValue]="seriesData.seriesBookCount"
                          [value]="getProgressValue()"></mat-progress-bar>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list dense class="series-books">
        <app-book-display (showBookDetails)="showDetails($event)"  *ngFor="let book of seriesData.books" [book]="book"></app-book-display>
    </mat-list>
</mat-expansion-panel>
