<mat-progress-bar *ngIf="isLoading|async" [color]="'primary'" style="margin-top: -20px; margin-bottom: 20px"
                  [mode]="'indeterminate'">
</mat-progress-bar>
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1 style="text-align: center">{{'BOOK_TYPE.GESTION.TITLE' | translate}}</h1>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around">
    <div fxFlex="75">
      <app-book-type-gestion-list style="padding-top: 20px" fxLayout="row" *ngIf="hasResult"></app-book-type-gestion-list>
    </div>
  </div>
</div>
